{% extends 'base.html.twig' %}

{% block title %} Recipe
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="ml-3 jumbotron">
            <h1 class="display-4">Hello world!</h1>
            <p class="lead">Ceci est une application pour s'exerer, c'est avec ce projet que j'apprends les bases de Symfony !</p>
            <p class="lead">Un système d'inscription est en place, n'hésites pas à t'inscrire !</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
        </div>
    </div>
{% endblock %}